/venv
prompt.md
currentwork.md
userstories.md
/btcli
/bittensor
/protocol/__pycache__
/neurons/__pycache__
nodes.json
*.encrypted
/tests/__pycache__
/protocol/x/__pycache__
/protocol/data_processing/__pycache__
*.pyc
data/*
.DS_Store
notebooks/.DS_Store
.conda

.env*
!.env.example

key.pem

*.conf
*.egg-info